<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <div class="app-home-header">
    <img class="logo" src="assets/logo.png" alt="">
    <h6>Powered by:</h6>
    <img class="other-pic" src="assets/pixabay-logo.png" alt="">
    <h6>PIXABAY API</h6>
    <h6 text-left class="animated fadeInUp para-text normal-font-weight">Matches Pixabay Images with Quotes using tags from Pixabay API</h6>
    <hr>
    <br>
    <h6 class="normal-font-weight">
      Developed by Audacitus, <br>
      Mobile Developer of IonicFramework Apps/Themes <br> <br>
      Product Site : https://market.ionic.io/user/121282
    </h6>
  </div>
</ion-content>
