page-about {
  ion-content {
    background:#333 url('../assets/bg.jpg') no-repeat top center;
    background-size: cover;
  }
  * {
    color: white;
  }
  .normal-font-weight {
    font-weight: normal;
  }
  .other-pic {
    width: 200px;
    background: white;
    padding: 10px;
  }
}
