<!--
  Generated template for the PicturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Picture</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<div class="picture" *ngIf="!processing">
  <!-- <p class="quote">
    {{quotes?.quote}}
    <span>Author : {{quotes?.by}}</span>
  </p> -->
  <img src="{{picture?.webformatURL}}" />
  <!-- <img mg-img-preloader="{{picture?.webformatURL}}" defaultImage="assets/loading-animation.gif"> -->
</div>

<div text-center>
  <ion-spinner *ngIf="processing" name="bubbles"></ion-spinner>
</div>
<div padding>
  <!-- <h4>Quotes for this Image: </h4> -->
  <div text-center>
    <p>{{quotes?.quote}}</p>
    <p *ngIf="quotes?.quote !== null"><span class="quote-by"> <ion-icon name="person"></ion-icon> Author : {{quotes?.by}}</span></p>
    <hr>
    <button ion-button small round icon-left (click)="displayQuote(pictureTags)"><ion-icon name="search"></ion-icon> Find another quote</button>
    <button ion-button small round icon-left (click)="takeScreenshot()">Take Screenshot</button>
  </div>

  <div class="promt-ui-message warning" *ngIf="quotes?.quote == null">
    No Quotes for this image based on its tags. Try again or use another image.
  </div>

  <h4>Image Details</h4>
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="{{picture?.userImageURL}}">
      </ion-avatar>
      <h2>User : {{picture?.user}}</h2>
      <p>Views {{picture?.views}} | Downloads {{picture?.downloads}}</p>
    </ion-item>
  </ion-list>

  <h6>Share Url</h6>
  <p>
    {{picture?.pageURL}}
  </p>

  <h4>Related Images</h4>
  <div class="masonry">
    <div class="masonry-item search-item animated fadeIn" *ngFor="let image of related" (click)="openPic(image.id)">
      <h6 class="quote-tag">
        <span>{{image.tags}}</span>
      </h6>
      <img mg-img-preloader="{{image.previewURL}}" defaultImage="assets/loading-animation.gif">
    </div>
  </div>
  <h6>Powered by:</h6>
  <img src="assets/pixabay-logo.png" alt="">
</div>
</ion-content>
