page-picture {
  ion-content {
  }
  .picture-meta {
    background: white;
    padding-top: 16px;
    padding-bottom: 16px;
    ion-list {
      margin-bottom: 0;
    }
    h4 {
      @extend .primary-font;
      margin-top: 0;
      &.text-indent {
        text-indent: 16px;
      }
    }
  }
  .bg-image {
    background-color: #000000 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    background: grey;
    background-size: cover !important;
  }
  .abs-bottom-content {
    position: absolute;
    width: 100%;
    height: 100%;
    // display: block;
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+72&0.62+0,0+49,0.6+72 */
      // background: -moz-linear-gradient(top,  rgba(0,0,0,0.62) 0%, rgba(0,0,0,0) 49%, rgba(0,0,0,0.6) 72%); /* FF3.6-15 */
      // background: -webkit-linear-gradient(top,  rgba(0,0,0,0.62) 0%,rgba(0,0,0,0) 49%,rgba(0,0,0,0.6) 72%); /* Chrome10-25,Safari5.1-6 */
      // background: linear-gradient(to bottom,  rgba(0,0,0,0.62) 0%,rgba(0,0,0,0) 49%,rgba(0,0,0,0.6) 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+60&0.62+0,0+24,0.6+61 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.62) 0%, rgba(0,0,0,0) 24%, rgba(0,0,0,0.58) 60%, rgba(0,0,0,0.6) 61%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.62) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.58) 60%,rgba(0,0,0,0.6) 61%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.62) 0%,rgba(0,0,0,0) 24%,rgba(0,0,0,0.58) 60%,rgba(0,0,0,0.6) 61%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */


    }
  }
  .quote-content {
    position: absolute;
    bottom: 0;
    padding: 20px 10px;
    display: block;
    color: white;
    line-height: 1.8em;
    width: 100%;
  }

  // @extend .primary-font;
  // .promt-ui-message {
  //   margin-top: 10px;
  //   margin-bottom: 10px;
  // }
  // ion-grid {
  //   padding: 0;
  // }
  //
  // ion-list.list-ios, ion-list.list-md {
  //   margin-bottom: 15px;
  // }
  //
  // .quote-by {
  //   display: inline-block;
  //   // margin: 10px auto 0 auto;
  //   padding: 7px 12px;
  //   background: #e4e4e4;
  //   color : #2c3e50;
  //   border-radius: 21px;
  //   font-size: 70%;
  //   @include breakpoint($mobile){
  //     font-size: 100%;
  //   }
  // }
  // .picture{
  //   position: relative;
  //   p.quote {
  //     position: absolute;
  //     color: white;
  //     text-align: center;
  //     bottom: 15px;
  //     width: 100%;
  //     display: block;
  //     // background: rgba(0, 0, 0, 0.4);
  //     padding: 15px 15px 0 15px;
  //     line-height: 1.6em;
  //     font-size: 80%;
  //     span {
  //       display: block;
  //       min-width: 50%;
  //       max-width: 65%;
  //       margin: 10px auto 0 auto;
  //       padding: 4px 0;
  //       background: color($colors, primary);
  //       border-radius: 21px;
  //     }
  //   }
  //   img {
  //     width: 100%;
  //     display: block;
  //   }
  //
  //   &:before {
  //     border-radius: 5px;
  //     content: '';
  //     position : absolute;
  //     width : 100%;
  //     height : 100%;
  //     background: rgba(0, 0, 0, 0.3);
  //   }
  // }
}
