<!--
  Generated template for the PicturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="primary-font" color="primary">
    <ion-title>Picture</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="bg-image" [ngStyle]="{'background' : 'url('+picture?.webformatURL+')'}">
  <div class="abs-bottom-content">
    <div class="quote-content">
      <ion-grid>
        <ion-row>
          <ion-col col-sm-6 offset-sm-3>
            <div class="promt-ui-message warning" *ngIf="quotes?.quote == null">
              No Quotes for this image based on its tags. Try again or use another image. <br><br>
              <button ion-button small round icon-left (click)="displayQuote(pictureTags)"><ion-icon name="search"></ion-icon> Find another quote</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col col-sm-8>
            <div class="primary-font">
              <p>{{quotes?.quote}}</p>
              <h3> <ion-icon name="quote"></ion-icon> {{quotes?.by}}</h3>
              <ion-badge>{{picture?.tags}}</ion-badge>
              <button ion-button small round icon-left (click)="displayQuote(pictureTags)"><ion-icon name="search"></ion-icon> Find another quote</button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            <span><ion-icon name="arrow-down"></ion-icon> swipe/scroll up for picture details</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="picture-meta">
      <h4 class="text-indent">Image Details</h4>
      <ion-list>
        <ion-item>
          <ion-avatar item-start>
            <img src="{{picture?.userImageURL}}">
          </ion-avatar>
          <h2>User : {{picture?.user}}</h2>
          <p>Views {{picture?.views}} | Downloads {{picture?.downloads}}</p>
        </ion-item>
        <ion-item>
          {{picture?.pageURL}}
        </ion-item>
      </ion-list>
      <div padding>
        <h4>Related Images</h4>
        <div class="masonry" *ngIf="!isDesktop">
          <div class="masonry-item search-item animated fadeIn" *ngFor="let image of related" (click)="openPic(image.id)">
            <h6 class="quote-tag">
              <span>{{image.tags}}</span>
            </h6>
            <img mg-img-preloader="{{image.previewURL}}" defaultImage="assets/loading-animation.gif">
          </div>
        </div>

        <div *ngIf="isDesktop">
          <ion-grid>
            <ion-row>
              <ion-col col-6 col-sm-3 col-md-3 col-xl-2 *ngFor="let image of related">
                <div class="search-item" (click)="openPic(image.id)">
                  <h6 class="quote-tag">
                    <span>{{image.tags}}</span>
                  </h6>
                  <img mg-img-preloader="{{image.previewURL}}" defaultImage="assets/loading-animation.gif">
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>
</ion-content>
