<!-- <ion-header>
  <ion-navbar color="primary">
    <ion-title><ion-icon name="quote"></ion-icon> PixQuotes </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content (ionScrollEnd)="onScrollEnd($event)">
  <div class="app-home-header">
    <img class="logo" src="assets/logo.png" alt="">
    <!-- <h1 class="app-title animated fadeInDown"><img src="assets/logo.png" alt="">Quotes by Pixabay</h1> -->
    <!-- <h1 text-center class="app-title animated fadeInDown normal">Quotes by Pixabay</h1> -->
    <h6 text-left class="animated fadeInUp para-text">Matches Pixabay Images with Quotes using tags from Pixabay API</h6>
    <input [(ngModel)]="searchTerm" (keyup.enter)="doSearch(searchTerm)" class="searchbar" type="text" placeholder="Search Here, then hit go/enter...">
  </div>

  <div class="content-padding first">

    <div class="promt-ui-message warning" *ngIf="searchCount < 1">
      No Results. Try Again with another term
    </div>

    <div class="promt-ui-message error" *ngIf="errorLoading">
      Error Occured. Check your internet and try again.
    </div>

    <h3 *ngIf="!isSearchSet" class="sub-title">Featured Images</h3>
    <div *ngIf="isSearchSet">
      <h6 class="sub-title">Search Results for "{{searchTerm}}"</h6>
      <hr>
    </div>

    <div text-center>
      <ion-spinner *ngIf="processing" name="bubbles"></ion-spinner>
    </div>

    <div class="masonry" *ngIf="!isDesktop">
      <div class="masonry-item search-item animated fadeIn" *ngFor="let image of images" (click)="openPic(image.id)">
        <h6 class="quote-tag">
          <span>{{image.tags}}</span>
        </h6>
        <img mg-img-preloader="{{image.previewURL}}" defaultImage="assets/loading-animation.gif">
      </div>
    </div>

    <div *ngIf="isDesktop">
      <ion-grid>
        <ion-row>
          <ion-col col-6 col-sm-3 col-md-3 col-xl-2 *ngFor="let image of images">
            <div class="search-item" (click)="openPic(image.id)">
              <h6 class="quote-tag">
                <span>{{image.tags}}</span>
              </h6>
              <img mg-img-preloader="{{image.previewURL}}" defaultImage="assets/loading-animation.gif">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>



  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
     <ion-infinite-scroll-content></ion-infinite-scroll-content>
   </ion-infinite-scroll>

</ion-content>
