page-home {
  @extend .primary-font;
  ion-content {
    background:#333 url('../assets/bg.jpg') no-repeat top center;
    background-size: cover;
    * {
      color: white;
    }
    .para-text {
      line-height: 1.5em;
    }
  }
  .app-home-header {
    .logo {
      padding-top: 10px;
    }
  }
}
