page-home {
  @extend .primary-font;
  ion-content {
    // background:#333 url('../assets/bg.jpg') no-repeat top center;
    // background-color : #333 !important;
  }
  background-size: cover;
  .app-home-header {
    // color : white;
    padding: 16px 28px 8px 28px;
    @include breakpoint($mobile){
      padding: 8px 28px 8px 28px;
      h1 {
        font-size: 2.0rem;
      }
    }
  }
  .sub-title {
    margin: 0 0 14px 0;
    // color: white;
  }
  .content-padding {
    padding: 16px 28px;
    &.first{
      padding-top: 0 !important;
    }
  }
  .searchbar {
    border: none;
    padding: 15px 19px;
    width: 100%;
    border-radius: 60px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 110%;
    margin: 15px 0;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(255, 255, 255, 0.4);
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.4);
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: rgba(255, 255, 255, 0.4);
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: rgba(255, 255, 255, 0.4);
    }
  }
  .app-title {
    position: relative;
    padding-left: 50px;
    img:first-of-type{
      position: absolute;
      left: 0;
      top : 0;
    }
    &.normal {
      padding-left: 0;
    }
  }

  ion-grid  {
    padding: 0 !important;
    ion-row ion-col {
      padding: 0;
      &[col-12] {
        padding: 0 !important;
      }
    }
    ion-row ion-col img {
      width: 100%;
      display: block;
      background: none !important;
    }
  }


  .msn-grid-item {
    float: left;
    width: 80px;
    height: 60px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
  }

  .msn-grid-item--width2 { width: 160px; }
  .msn-grid-item--height2 { height: 140px; }



}
