@font-face {
    font-family: "Encode";
    src: url("../assets/EncodeSansExpanded-Regular.ttf") format('truetype');
}
.primary-font {
  font-family: "Encode";
  &.bold-weight {
    font-family: "Encode Bold";
  }
  &.light-weight {
    // No light defined for Yrsa
  }
  &.semi-bold {
    // No semi bold fo Yrsa
  }
}
