// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-badge {
  padding: 8px 16px !important;
  margin: 10px 0;
  border-radius: 50px !important;
}

.promt-ui-message {
  padding: 13px 14px;
  border-radius: 4px;
  text-align: center;
  margin: 0 0 10px 0;
  &.warning {
    background: #f1c40f;
    color: #111;
  }
  &.error {
    background: #e74c3c;
    color: white;
  }
}

$iphone5 : max-width 350px;
$mobile : max-width 414px;
$tablet : min-width 1010px;

@import "../theme/app.fonts";
@import "../../node_modules/animate.css/animate.min";
@import "../../node_modules/breakpoint-sass/stylesheets/_breakpoint";
@import "../pages/home/home";

.masonry { /* Masonry container */
    column-count: 2;
    column-gap: 1em;
}

.masonry-item, .search-item { /* Masonry bricks or child elements */
    background-color: transparent;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    img {
        width: 100%;
        display: block;
        // background: white;
    }
    .quote-tag {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      color: white;
      span {
        margin:5px;
        padding: 4px 10px 6px 10px;
        border-radius: 20px;
        // border: 1px solid white;
        display: inline-block;
        font-weight: normal;
        background: rgba(0, 0, 0, 0.6);
        font-size: 90%;
        @include breakpoint($iphone5){
          font-size: 75%;
          border-radius: 4px;
          margin:0 3px;
        }
      }
    }
}

.search-item {
  position: relative;
  margin: 10px 0;
  img {
    width: 100%;
    display: block;
    border-radius: 5px;
    background: none !important;
  }
}
.search-item h1 {
  position : absolute;
  bottom : 10px;
  left : 10px;
  right : 10px;
}
.search-item:before {
  border-radius: 5px;
  content: '';
  position : absolute;
  width : 100%;
  height : 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+48,000000+100&0+48,0.6+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 48%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 48%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 48%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
}

.tabs-ios .tabbar,
.tabs-md .tabbar, {
  background-color: color($colors, primary);
  ion-icon, span {
    color: transparentize(white, 0.4);
  }
  .tab-button[aria-selected=true] .tab-button-icon {
    color: white;
  }
}
