<!--
  Generated template for the BookmarksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Saved Pics/Videos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Saved Items : 34</h1>
  <p>All items saved are saved on your device and device only. You can send share your entire/select list</p>
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="http://placehold.it/50x50/ff0000/ffffff">
      </ion-avatar>
      <h2>Cher</h2>
      <p>Ugh. As if.</p>
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="http://placehold.it/50x50/ffcc33/ffffff">
      </ion-avatar>
      <h2>Cher</h2>
      <p>Ugh. As if.</p>
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="http://placehold.it/50x50/336699/ffffff">
      </ion-avatar>
      <h2>Cher</h2>
      <p>Ugh. As if.</p>
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="http://placehold.it/50x50/115599/ffffff">
      </ion-avatar>
      <h2>Cher</h2>
      <p>Ugh. As if.</p>
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
